body {
  background-image: radial-gradient(#c4c4c4 20%, transparent 20%),
     radial-gradient(#fafafac2 20%, transparent 20%);
  background-color: #FDF6E3;
  background-position: 0 0, 200px 200px;
  background-size: 15px 15px;
  height: 400px;
  width: 100%;
}


@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:520px) { html{ font-size: 18px; } }
@media all and (max-width:520px) {
  div#content {
      margin: 1.5rem;
      padding: 0;
  }
emoji
{
  font-style: normal;
}
}
topic {
  display: block;
  font-family: "Libre Franklin";
  font-size: 2.3rem;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #333;
  padding-top: 0.02em;
  hyphens: none;
}
title-block, aside {
  margin-bottom: 2em;
  border-top: solid 3px #333;
  padding-top: 5px;
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: calc(2.5rem * 3);
  text-align: right;
  list-style-type: none;
  clear:both; margin-bottom: 1rem; font-variant-numeric: normal;
  
}
title-block topic {
  font-family: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-size: 125%;
  line-height: 1.10;
  border-bottom: inherit;
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  font-weight: bolder;
  border-top: 0;
  padding-top: 0;
  }
  
  topic + p {
  font-size: 115%;
  }
body {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  position: relative; z-index: -10000; -webkit-font-smoothing: subpixel-antialiased; /* corrects safari rendering */
}
div#content {
  padding: 3rem 0 18rem 0;
  margin-left: 12rem;
  margin-right: 2.5rem;
}
}
p {
  font-family: 'Source Serif Pro';
  line-height: 1.4;
  font-size: 0.98rem;
  font-variant-numeric: oldstyle-nums;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
}


h1 {
  font-family: 'Libre Franklin', sans-serif;
}
short-rule {
  display: block;
  font-size: 100%;
  line-height: 1.25;
  font-style: italic;
  hyphens: none;
}